<!--The content below is only a placeholder and can be replaced.-->
<div class="container">  
  <div class="row form-group">
    <app-header></app-header>
  </div>
  <div class="row">
    <div class="main">
      <div *ngIf="!isAuthenticated">
          <app-login (onToggleLogin)="toggleLoginWindow($event)"></app-login>
      </div>
      <div *ngIf="isAuthenticated">
        <a class="form-group" routerLink="/consignments">Consignments</a>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>