<div class="container" style="margin-top:15px;">
  <div class="row">
    <div class="col-3">
      <div class="row text-right">
        <div class="col-12">
          <button type="button" class="btn btn-primary" style="margin-right:20px;">Save</button>
          <a routerLink="/consignments" class="btn btn-secondary">Cancel</a>
        </div>
      </div>
      <div class="row text-right">
        <div class="col-12"><h2>{{consignment.ConsignmentNumber}}</h2></div>
        <div class="col-12">Status: <strong>{{consignment.Status}}</strong></div>
        <div class="col-12 form-group">Last Updated: <strong>{{consignment.UpdatedAt | date:dateFormat}}</strong></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="list-group">
            <button *ngFor="let item of consignment.FormPrograms"
                    class="list-group-item list-group-item-action" 
                    (click)="onProgramSelected(item)">{{availableProgramsDictionary[item]?.DisplayName}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-12">
          <json-schema-form [schema]="availableProgramsDictionary[selectedProgram]?.Schema"></json-schema-form>
          <!--[layout]="availableProgramsDictionary[selectedProgram]?.FormDefinition" 
                            [data]="availableProgramsDictionary[selectedProgram]?.Model"-->
        </div>
      </div>
    </div>
  </div>
</div>